.modal-header {
  background-color: #12c240;
}

.modal-title {
  color: white;
  text-align: center;
}

#color {
  background-color: #1eb6e3;
}

.modal-title1 {
  color: white;
  text-align: center;
}
